\wandb
.DS_store
FeatureFinding/pyvenv.cfg

examples/__pycache__/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
featurefinding_env/

# IDE files
.vscode/
.idea/

